<a href="https://colab.research.google.com/github/katiaOlem/Aplicaciones-Web-Orientadas-a-Servicios/blob/main/sqlalchemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#SQLALchemy ORM
from sqlalchemy import create_engine 
from sqlalchemy import MetaData 
from sqlalchemy import Table, Column, Integer, String
from sqlalchemy import select, insert, update, delete

In [3]:
engine = create_engine('sqlite:///prueba.db')

In [4]:
metadata=MetaData()

In [5]:
clientes =Table(
    'clientes', metadata,
    Column('id_cliente', Integer, primary_key=True),
    Column('nombre', String, nullable=False),
    Column('email', String, nullable=False),
)

In [6]:
print(type(clientes))

<class 'sqlalchemy.sql.schema.Table'>

In [7]:
metadata.create_all(engine)

In [8]:
stmt = insert(clientes).values(nombre="Cliente 1", email="clientes@mail.com") 
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre, :email)

In [9]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [10]:
data =[
    {"nombre": "Cliente 2", "email": "email1@email.com"},
    {"nombre": "Cliente 3", "email": "email2@email.com"},
    {"nombre": "Cliente 4", "email": "email3@email.com"}
]
stmt = insert(clientes).values(data)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.dml.Insert'>
INSERT INTO clientes (nombre, email) VALUES (:nombre_m0, :email_m0), (:nombre_m1, :email_m1), (:nombre_m2, :email_m2)

In [11]:
with engine.connect() as conn:
    result = conn.execute(stmt)

In [12]:
stmt =select(clientes)
print(type(stmt))
print(stmt)

<class 'sqlalchemy.sql.selectable.Select'>
SELECT clientes.id_cliente, clientes.nombre, clientes.email
FROM clientes

In [13]:
with engine.connect() as conn:
    result = conn.execute(stmt)
    for key in result.fetchall():
        print(key.nombre)

Cliente 1
Cliente 2
Cliente 3
Cliente 4